@use './variables' as *;

.characterSelect {
    height: 100%;
}



.characterForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h2{
        font-family: rixvideogame-pro, sans-serif;
        font-size: 59px;
        letter-spacing: 7.847px;
    }

    button {
        background: #0c0c0c;
        border-radius: 7px; 
        border: 1px solid #252525;
        backdrop-filter: blur(17.8px);
        -webkit-backdrop-filter: blur(17.8px);
        color: white;
    }
}

.pokeRoster {
    height: 100%;
    max-height: 65vh;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin: 100px;

}

.pokemonCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CED0D2;
    border: none;
    border-radius: 0% 0% 52% 52% / 25% 25% 25% 25%;
    height: 200px;
    width: 200px;
    transition: 0.2s ease;
    position: relative;
    background: #D52E26(255,255,255,0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 6px solid #333;
    margin-bottom: 50px;
  
    img,
    h3 {
        pointer-events: none;
    }

    img {
        width: 75%;
        aspect-ratio: 1 / 1;
        object-fit: contain;
        position: absolute;
        bottom: 40px;
        bottom: 150px; /* adjust this value to move the image up or down */
    }

    h3 {
        color: white;
        text-transform: capitalize;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-size: 25px;
        text-transform: uppercase;
        color: #252525;
        font-weight: bold;
    }

   

    &:hover,
    &:focus {
    background-color: #D52E26;
        
        cursor: pointer;
    }
}

.activeCard {
    background-color: #D52E26;
    scale: 1.05;
    rotate: 2deg;

    &:hover,
    &:focus {
        background-color:#D52E26;
        outline: none;
    }
}