@use './variables' as *;

@mixin flipAnime($animeName, $duration) {
    animation: $animeName $duration forwards;
}

.gameBoard {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 85%;
    margin: 0 auto;

    button {
        width: 100%;
        
    }
}
  
.playerDealerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    flex-wrap: wrap;
    width: 100%;

}
.playerSection{
    width: 50%;
}

.dealerSection{
    width: 50%;
}
  

  
.playerCardList,
.dealerCardList {
    display: flex;

    li:nth-child(n+3) {
        .innerCard{
            @include flipAnime(flipN, 0.8s);
        }
    }
}

.playerCardList {
    li:nth-child(1) {
        .innerCard {
            @include flipAnime(flip1, 1s);
        }
    }
    li:nth-child(2) {
        .innerCard {
            @include flipAnime(flip2, 1.2s);
        }
    }
}

.dealerCardList {
    li:nth-child(2) {
        .innerCard {
            @include flipAnime(flip3, 1.4s);
        }
    }
}

.dealerCardList.reveal {
        li:nth-child(1) {
            .innerCard {
                @include flipAnime(flip3, 1s)
            }
        }
}

li.cardContainer {
    position: relative;
    width: 10%;
    perspective: 800px;

    .innerCard {
        display: flex;
        align-items: center;
        height: 175px;
        transform-style: preserve-3d;

        .card {
            position: absolute;
            backface-visibility: hidden;
        }

        .cardFront {
            transform: rotateY(180deg)
        }
    }
}


p.bust {
    color: red;
}


