@use './variables' as *;

header .wrapper {
   display: flex;
   justify-content: space-between;
   padding-top: 20px;
   transition: 0.2s ease;
}


.logo {
   width: 50px;
}


.audioContainer {
   display: flex;
   flex-direction: row-reverse;
   gap: 20px;

   position: relative;



   input[type=range],
   .musicToggleBtn {
      transform: scaleX(-1);
   }

   input[type=range] {
      cursor: pointer;
      position: absolute;
      right: 60px;
      top: 0;
      bottom: 0;
      margin: auto;

      z-index: 10;
   }
}

.musicToggleBtn {
   height: 50px;
   width: 50px;
   padding: 0px;
}