@use './variables' as *;


.landing {
  min-height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .wrapper {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 55px;

    .pokeBallContain {
      background: $accentColor top left no-repeat;
      width: 275px;
      height: 250px;
      border-top-left-radius: 15px;
      display: flex;
      justify-content: center;
      overflow: visible;
      position: relative;

    }

    .buttonContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-basis: 100%;
      margin: 20px 0;
      gap: 40px;
    }

    img {
      position: absolute;
      top: 40px;
      left: 20px;
      width: 80%;
      position: relative;

    }

    .text {
      display: flex;
      flex-direction: column;
      gap: 20px;


      h1 {
        font-size: clamp(3rem, 10vw, 10rem);
        font-weight: bold;
        margin-bottom: 20px;
        letter-spacing: 5px;
        text-align: left;
      }

      h2 {
        font-size: clamp(1.5rem, 3vw, 3rem);
      }
    }

    .buttonContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      flex-basis: 100%;
      margin-top: 20px;
      gap: 40px;
    }

  }
}