@use './variables' as *;


    .landing {
    min-height: 80vh;
    // background-image: url('../assets/screenshot.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;  
    
 
  
    .wrapper {
      height: 80vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 15px;
      
      img{
        border-radius: 20px;
        box-shadow: 2px 2px 20px red;
      }
      
   
      .text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h1{
            // font-size: clamp(2.77rem, 3vw, 4rem);
            font-weight: bold;
            margin-bottom: 20px;
            letter-spacing: 5px;
            text-align: center;
          }
      
      }
      .buttonContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-basis: 100%;
        margin-top: 20px;
        gap: 40px;
      }
  
      button {
        width: 25%;
        height: 60px;
        padding: 10px 40px;
      
        background: #0c0c0c;
        border-radius: 7px; 
        border: 1px solid #252525;
        backdrop-filter: blur(17.8px);
        -webkit-backdrop-filter: blur(17.8px);
        color: white;
        transition: all .4s ease-in-out;
 
        &:hover {
          transform: scale(1.06);
          box-shadow: 0 0 8px white; 
        }
      }
    }
  }
