@use './variables' as *;

@media (max-width: 1160px) {
    .playStatus {
        top: 218px;
    }
}

@media (max-width: 810px) {
    .playerCardList,
    .dealerCardList {
        flex-wrap: wrap;
        min-height: 175px;
        margin: 20px;
    }

    li.cardContainer {
        width: 25%;
        height: 50%;
    }

    .pokemonMain .playStats {
        align-self: center;
        width: 60%;
        h3 {
            text-align: center;
        }
    }

    .playStatus {
        position: static;
        margin: 0 auto 20px auto;
        height: 50px;
    }

    .actionButtons{
        position: static;
        button {
            height: 85px;
            width: 85px;
        }
    }
}

@media (max-width: 575px) {

    .evolveContainer {
        width: 174px;
    }
    .thumbContainer {
        width: 45px;
        height: 45px;;
    }
}

@media (max-width: 435px) {
    .evolveContainer {
        width: 150px;
    }
    .thumbContainer {
        width: 40px;
        height: 40px;;
    }

    li.cardContainer {
        .innerCard {
            align-items: flex-start;
        }
    }
}