@use './variables' as *;

// pokemon stats

.pokemonStats {
    display: flex
}

.playStatus {
    position: absolute;
    right: 143px;
    top: 250px;
    width: fit-content;
    p {
        text-align: center;
    }
}

.playStatus.dealStatus {
    left: 143px;
}

.dealerPoint {
    opacity: 0;
    animation: fadeIn 0.5s 0.5s forwards;
}

.playerPokemon {
    transform: scaleX(-1);
}