$primaryFont:"rixvideogame-pro", sans-serif;
$secondaryFont:“ff-nuvo-mono-web-pro”, sans-serif;
// $headerfont:;
// $featurefont:;
$primarycolor:#F5F5F7;
$accentColor: #333;
$secondaryAccentColor:#D52E26;
// $secondarycolor:;
// $highlightcolor:;